
.login__container {
  width: 100%;
  max-width: 400px;
  margin: 0px auto 0;
  padding-top: 50px;
}

.login__label {
  width: 100%;
}

.login__input {
  width: 100%;
}

.login__title {
  padding: 10px 0;
}

.login__submit {
  margin: 10px 0;
  padding: 8px;
}
