body {
  text-align: center;
}

.settings {

}

.source__select {
  width: 100%;
}

.source__select option {
  text-align: center;
}

.settings__container {
  width: 100%;
  max-width: 400px;
  margin: 0px auto 0;
  padding-top: 50px;
}

.settings__label {
  width: 100%;
}

.settings__input {
  width: 50%;
  text-align: center;
  border-radius: 20px;
  margin: 2px;
}

.settings__title {
  padding: 10px 0;
  margin-bottom: 30px;
}

.settings__submit {
  margin: 10px 0;
  border-radius: 20px;
  padding: 5px 20px;
}
